<!DOCTYPE html>
<html>
<head>
    <title>Simple Wall Test</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/test_form.css">
</head>
<body>
    <div class="row">
        <div class="col-md-3">
            <div class="form-container">
                {% for key, value in parameters.items() %}
                    <label for="{{ key }}">{{ key.capitalize() }}:</label>
                    <br>
                    {% if value is iterable and not value is string %}
                        {% for i in range(value|length) %}
                            <input type="number" id="{{ key }}{{ i }}" name="{{ key }}{{ i }}" placeholder="{{ key }} coordinate" value="{{ value[i] }}">
                            <br>
                        {% endfor %}
                    {% else %}
                        <input type="number" id="{{ key }}" name="{{ key }}" placeholder="{{ key }}" value="{{ value }}">
                    {% endif %}
                {% endfor %}

                <div class="button-container">
                    <button type="submit">Submit</button>
                    <button type="button">Cancel</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image-container" style="float: right;"></div>
                <img src="path/to/your/image.jpg" alt="Parameter Image">
            </div>
        </div>
    </div>
</body>
</html>
