.container {
    display: flex;
    align-items: flex-start; /* Changed from center to flex-start */
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
}

.form-container {
    flex: 1;
    padding: 20px;
    max-height: 100%; /* Ensures the form doesn't exceed the container height */
    overflow-y: auto; /* Allows vertical scrolling if the content overflows */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], .form-select, .form-control {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.serial-connect-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.progress {
    height: 30px;
    margin-top: 20px;
}

.progress-bar {
    line-height: 30px;
}

/* Ensure that the body takes full height and allows scrolling */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent body from scrolling */
}

.scrollable-container {
    height: 100vh; /* Full viewport height */
    overflow: auto; /* Enable scrolling */
    padding: 20px; /* Optional padding for better appearance */
}
