.container {
    display: flex;
    align-items: center;
}

.form-container {
    flex: 1;
    padding: 20px;
    position: relative;
    right: -350px;
    top: 50%;
}

.image-container {
    flex: 1;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    color: rgb(44, 31, 120);
    background-color: rgb(135, 201, 179);
    border-color: rgb(26, 51, 43);
    position: relative;
    right: -30px;
    top: 200px;
}

.form-group {
    margin-bottom: 15px;
    color: rgb(78, 15, 188);
}